.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/img/logo.png')
    #main-nav.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        if(!user)
          li.login
            a(href="/login") Login
        else
          li
            a(href="/room") Room  
          li.username.dropdown
            a.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
              if(!user.profile.picture)
                img(src="", height="16")
              else
                img(src="", height="16")
            ul.dropdown-menu
              li
                a(href="/profile") Your profile
              li
                a(href="/changePassword") Change password
              li.divider(role="separator")
              li
                a(href="/logout") Logout
              