.profile-wrapper{
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 700px;
}

.greeting{
    float: left;
    padding-left: 20px;
}

.greeting h1{
    margin-bottom: 10px;
}
.greeting h4{
    color: #8c8a88;
}

.avatar-160{
    float: left;
    width: 160px;
}
.avatar-160 img{
    width: 100%;
}
.profile-top{
    margin-bottom: 40px;
}

.profile-wrapper input{
    width: 100%;
}